.App {
  text-align: center;
}
img{
  max-width: 100%;
}
.cart-widget{
  margin: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart{
  color: #fefefe;
  font-size: 26px;
}
.cart-notification{
  font-size: 20px;
  color: #fefefe;
}
.navbar{
  padding-left: 16px;
}
.listitem{
  background-color: #fefefe;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 16px 56px;
}
.itemDetailContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemDetail{
  width: 20%;
}